.home {
  position: relative;
  /* width: 100%; */
  height: 100vh;
  background-image: url("../../assets/parallax/big.svg"),
    url("../../assets/parallax/mid.svg"), url("../../assets/parallax/small.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-position: 50% 50%;
  background-size: 90%;
  background-attachment: fixed;
  /* z-index: 90; */
}

/* .homepage--moon {
  position: fixed;
  top: 70%;
  left: 5%;
  width: 35%;
  height: 35%;
  z-index: -9;
} */

.homepage--bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100vh;
  z-index: -2;
}
.homepage--shadow {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  height: 100vh;
  z-index: -1;
}

h1 {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.rules--main {
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.rules--text {
  padding-left: 2rem;
}

.spacing {
  padding-left: 4rem;
}

.page {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.buttons-mobile {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-mobile.button {
  width: 80%;
  height: 4rem;
  margin: 10px auto;
  padding: 1px;
  font-size: calc(15px + 2vmin);
}

.buttons-desktop {
  margin-top: 7em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-button.button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1px;
  align-self: flex-end;
  width: 250px;
  height: 4rem;
  font-size: calc(5px + 2vmin);
}

.rules--main {
  text-align: center;
}

.rules--sub {
  margin-top: 5rem;
}

.rules {
  width: 60%;
  text-align: left;
  margin: 3rem auto;
  z-index: 10;
}

.scroll {
  position: absolute;
  bottom: 9px;
  opacity: 0.5;
  left: 50%;
  display: flex;
  width: 15px;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transition: opacity 0.5s;
}
@keyframes bounce {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  70% {
    transform: translateY(-10px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
