body {
  background-color: #070a1e;
}

h1 {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
    "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.rules--main {
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.page {
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.buttons-mobile {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-mobile.button {
  width: 80%;
  height: 4rem;
  margin: 10px auto;
  padding: 1px;
  font-size: calc(15px + 2vmin);
}

.buttons-desktop {
  margin-top: 7em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-button.button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1px;
  align-self: flex-end;
  width: 250px;
  height: 4rem;
  font-size: calc(5px + 2vmin);
}

.rules--main {
  text-align: center;
}

.rules {
  width: 80%;
  text-align: left;
  margin: 3rem auto;
}

.scroll {
  position: absolute;
  bottom: 9px;
  opacity: 0.5;
  left: 50%;
  display: flex;
  width: 15px;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transition: opacity 0.5s;
}
@keyframes bounce {
  0% {
    transform: translateY(0) translateX(-50%);
  }
  70% {
    transform: translateY(-10px) translateX(-50%);
  }
  100% {
    transform: translateY(0) translateX(-50%);
  }
}
