body {
  background-color: gray;

  
}

h1 {
  font-size: 30px;
}

h2 {
  margin-top: 10rem;
  margin-bottom: 6rem;
}
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .page {
    height: 100vh;
    border-bottom: 1px solid black;
    
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
  
  }
  

.buttons-mobile {
    margin-top: 11rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
#button-mobile {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .buttons-desktop {
    margin-top: 7em;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  #menu-button {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-self: flex-end;
    width: 10rem;
    height: 4rem;
    
    
  }
  
  @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}