.periods-container {
  margin-top: 25px;
  /* display: flex; */
}

.ui.grid > .row {
  flex-wrap: nowrap;
  margin-top: 25px;
  overflow: auto;
}

.ui[class*="one column"].grid > .row > .column {
  min-width: 33% !important;
}

.ui.card {
  margin: 1em 0;
  width: 100%;
}
