.signup {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.signup--form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  margin-top: 11rem;
}

.signup--form-submit.button {
  margin-top: 30px;
}

.signup--form-message {
  margin: 2rem 0;
  text-align: left;
}
.signup--form-message > a {
  color: gray;
}

.signup--form-message > a:hover {
  color: white;
}

@media (min-width: 480px) {
  .signup--form {
    margin-top: 15rem;
  }
}

@media (max-width: 769px) {
  .signup {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}
