body {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  color: white;
}

.ui.inverted.button {
  box-shadow: 0 0 0 1px #fff inset !important;
}

@media (max-width: 768px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
}
