.App-logo {
  width: 50vh;
  
}

.login {
  height: 100vh;
}
.App-header {
  margin: 0 auto;
  
}

.login {
    text-align: center;
    
  }
  
  h1 {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .login--form {
    display:flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;

    margin-top: 11rem;

  }
  
  .ui.input>input {
    margin-bottom: 4%;
    border-radius: unset;
  }

  .ui.input>input:focus {
    border-color: black;
  }

  .ui.button {
    margin: 0;
  }

  .ui.button.button {
    border-radius: 0;
  }
  
  

  @media (min-width: 480px) {
    .login--form {
      margin-top: 15rem;
  }
}

