.App-header {
  margin: 0 auto;
}

.login {
  text-align: center;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.login--form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;

  margin-top: 11rem;
}

.ui.input > input {
  margin-bottom: 4%;
  border-radius: unset;
}

.ui.input > input:focus {
  border-color: black;
}

.ui.button {
  margin: 0;
}

.login--form-message {
  margin: 2rem 0;
  text-align: left;
}
.login--form-message > a {
  color: gray;
}

.login--form-message > a:hover {
  color: white;
}
.login--form-submit.button {
  margin-top: 30px;
}

@media (min-width: 480px) {
  .login--form {
    margin-top: 15rem;
  }
}
