.login {
    text-align: center;
    
  }
  
  h1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .form {
    display:flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-top: 25%;
  
  
  }
  
  .input {
    margin-bottom: 4%;
  }
  
  