.players-usernames {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 0;
  font-size: larger;
}

.player-username {
  margin: 2rem 3rem;
  list-style-type: none;
}

.game-title {
  color: aliceblue;
}

.settings-section {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  margin-bottom: 25px;
}

.button-periods {
  margin-top: 25px;
  text-align: center;
}

.period-creation {
  text-align: center;
  margin-top: 25px;
}

.ui.modal > .content {
  color: black;
  list-style-type: none;
}
